<%- include("header") -%>
<div class="container-fluid">
    <div class="row title">
        <div class="row">
            <div class="col-lg-12">
                <!--<h1>Targeter Database</h1>-->
                <h1 class="site_msg"><em>There are </em><strong>
                        <%=data%>
                    </strong><em> Subframe Information Available in the Database</em></h1>
                <br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form method="POST" action='/createSubframe'>
                <div class="form-group">
                    <label class="label-text" id="create_subframe">Do you want to create a "SubframeID" for physical subframe creation?</label>
                </div>
                <button class="btn btn-secondary">Create Subframe</button>
            </form>
            <form method="POST" action='/submitDataManually'>
                <div class="form-group">
                    <label class="label-text" id="manual_insert">Do you like to insert the data manually?</label>
                    <!--<% var test = 101; %> 
                    <script>
                      var getTest = <%= test  %>;  //var test is now assigned to getTest which will only work on browsers
                      console.log(getTest);  // successfully prints 101 on browser
                   </script>-->
                </div>
                <button class="btn btn-secondary">Insert the Data Manually</button>
            </form>
            <form method="POST" action='/submitXMLFile'>
                <div class="form-group">
                    <label class="label-text" id="xml_insert" for="xmlFileLoad">Submit the Experiment (XML file): </label>
                    <input type="file" class="form-control" id="xmlFileLoad" name="xmlFile">
                </div>
                <button class="btn btn-secondary">Load the Data from XML File</button>
            </form>
        </div>
    </div>
</div>

<%- include("footer") -%>
