<%- include("header") -%>
    <div class="row">
        <div class="col-lg-12">
            <form method="POST" action='/submitSubframeInfoManually'>
                <br>
                <br>
                <p class="lead_text">Enter the Subframe Information</p>
                <div class="form-check">
                    <label class="form-check-label" for="subframe_validity">Validity</label>
                    <input type="checkbox" class="form-check-input" id="subframe_validity">
                </div>
                <div class="form-group">
                    <label class="label-text" for="FacilityNameSelect">Select the Facility Name</label>
                    <select class="form-control" id="FacilityNameSelect" name="FacilityName">
                        <option selected>Choose...</option>
                        <option>EXFEL</option>
                        <option>ELIBL</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="label-text" for="SubframeTypeSelect">Select the Subframe Type</label>
                    <select class="form-control" id="SubframeTypeSelect" name="SubframeType">
                        <option selected>Choose...</option>
                        <option>4IN</option>
                        <option>9X9</option>
                        <option>FOI</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="label-text" for="GroupSelect">Select the Group</label>
                    <select class="form-control" id="GroupSelect" name="GroupName">
                        <option selected>Choose...</option>
                        <option>SEC</option>
                        <option>HED</option>
                        <option>MID</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="label-text">Serial Number</label>
                    <input type="text" name="SerialNumber" class="form-control" id="SerialNumber"
                        value=<%=serialnumber%> disabled>
                </div>
                <div class="form-group">
                    <label class="label-text">Enter the Width (SizeX) of the Subframe (in mm) <strong>(Double Values
                            Accepted)</strong></label>
                    <input type="number" name="SizeX" class="form-control" placeholder="Width of Subframe" min="10"
                        max="800">
                </div>
                <div class="form-group">
                    <label class="label-text">Enter the Height (SizeY) of the Subframe (in mm) <strong>(Double Values
                            Accepted)</strong></label>
                    <input type="number" name="SizeY" class="form-control" placeholder="Height of Subframe" min="10"
                        max="800">
                </div>
                <div class="form-group">
                    <label for="subfraneComments" class="label-text">Enter Comments Related to the Subframe</label>
                    <textarea class="form-control" id="subfraneComments" rows="2" minlength="0"
                        maxlength="200"></textarea>
                </div>
                <div class="form-group">
                    <label class="label-text">Enter the Date the Experiment of the Subframe is Done</strong></label>
                    <input class="form-control" type="date" id="experiment_date" name="experiment_date" min="2012-01-01" max="2040-12-31">
                </div>
                <p class="lead_text">Any Event Has Happened to the Subframe? </p>
                <div class="form-group">
                    <label class="label-text" for="SubframeEventTypeSelect">Select the Event Type <em>(if there is
                            any)</em></label>
                    <select class="form-control" id="SubframeEventTypeSelect" name="SubframeEventTypeName">
                        <option selected>Choose...</option>
                        <option>Created</option>
                        <option>Fiducial Change</option>
                    </select>
                </div>
                <button class="btn btn-secondary">Enter the Fiducial Points Data</button>
            </form>
        </div>
    </div>
<%- include("footer") -%>