<%- include("header") -%>
    <div class="row">
        <div class="col-lg-12">
            <form id="enterTargetData" method="POST" action='/submitSampleImageManually'>
                <br>
                <br>
                <p class="lead_text">Enter the Sample Data</p>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Bounding Box X Position</label>
                            <input type="number" name="sample_experiment_x_position" class="form-control"
                                placeholder="values between 0 and 800 are accepted" min="0" max="800">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Bounding Box Y Position</label>
                            <input type="number" name="sample_experiment_y_position" class="form-control"
                                placeholder="values between 0 and 800 are accepted" min="0" max="800">
                        </div>
                    </div>
                </div>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Bounding Box Width</label>
                            <input type="number" name="sample_experiment_width" class="form-control"
                                placeholder="values between 0 and 800 are accepted" min="0" max="800">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Bounding Box Height</label>
                            <input type="number" name="sample_experiment_height" class="form-control"
                                placeholder="values between 0 and 800 are accepted" min="0" max="800">
                        </div>
                    </div>
                </div>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text" for="SampleDetectionMethodSelect">Select the Detection
                                Method</label>
                            <select class="form-control" id="SampleDetectionMethodSelect"
                                name="sample_detection_method">
                                <option selected>Choose...</option>
                                <option>Circle Detection</option>
                                <option>Rectangle Detection</option>
                                <option>Mask R-CNN</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="SampleMaskLoad" class="form-label label-text">Insert the Mask Image</label>
                            <input class="form-control" type="file" id="SampleMaskLoad" name="sample_mask_load">
                        </div>
                    </div>
                </div>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Date of the Sample Experiment</label>
                            <input class="form-control" type="date" id="sample_experiment_date"
                                name="sample_experiment_date" min="2012-01-01" max="2040-12-31">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Time of the Sample Experiment</label>
                            <input class="form-control" type="time" id="sample_experiment_time"
                                name="sample_experiment_time">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sample_experiment_comments" class="label-text">Comments Related to the Sample
                        Experiment</label>
                    <textarea class="form-control" id="sample_experiment_comments" name="sample_experiment_comments"
                        placeholder="Maximum 100 characters are accepted" rows="2" minlength="0"
                        maxlength="200"></textarea>
                </div>
                <hr>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text" for="SanokeDeviceSelect">Select the Device</label>
                            <select class="form-control" id="sample_device" name="sample_device">
                                <option selected>Choose...</option>
                                <option>Keyence</option>
                                <option>Nanofocus</option>
                                <option>Quanta</option>
                                <option>Zeiss</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text" for="SampleEventType">Select the Event Type</label>
                            <select class="form-control" id="sample_event_type" name="sample_event_type">
                                <option selected>Choose...</option>
                                <option>XRay Measurement</option>
                                <option>XFEL Instrument Measurement</option>
                                <option>Imaging</option>
                                <option>High Resolution Imaging</option>
                                <option>Overview Imaging</option>
                                <option>Mounted</option>
                                <option>Unmounted</option>
                                <option>Mounted Somewhere Else</option>
                                <option>Shot</option>
                                <option>Broken</option>
                                <option>Archived</option>
                                <option>Destroyed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div>
                            <label for="SampleEventLinkToData" class="form-label label-text">Insert the Link to the
                                Data</label>
                            <input class="form-control" type="file" id="SampleEventLinkToData"
                                name="sample_event_link_to_data">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <label for="SampleEventLinkToMetaData" class="form-label label-text">Insert the Link to the
                                Meta
                                Data</label>
                            <input class="form-control" type="file" id="SampleEventLinkToMetaData"
                                name="sample_event_link_to_meta_data">
                        </div>
                    </div>
                </div>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Date of the Sample Event</label>
                            <input class="form-control" type="date" id="sample_event_date" name="sample_event_date"
                                min="2012-01-01" max="2040-12-31">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Time of the Sample Event</label>
                            <input class="form-control" type="time" id="sample_event_time" name="sample_event_time">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sample_experiment_comments" class="label-text">Comments Related to the Sample
                        Event</label>
                    <textarea class="form-control" id="sample_event_comments" name="sample_event_comments"
                        placeholder="Maximum 100 of characters are accepted" rows="2" minlength="0"
                        maxlength="200"></textarea>
                </div>
                <hr>
                <p class="lead_text">Enter the Fiducial Points Information</p>
                <div class="row twopanel">
                    <div class="col-lg-4">
                        <div>
                            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#sample_event_fiducial1" aria-expanded="false"
                                aria-controls="sample_event_fiducial1">
                                Fiducial 1 Information
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#sample_event_fiducial2" aria-expanded="false"
                                aria-controls="sample_event_fiducial2">
                                Fiducial 2 Information
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#sample_event_fiducial3" aria-expanded="false"
                                aria-controls="sample_event_fiducial3">
                                Fiducial 3 Information
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row twopanel">
                    <div class="col-lg-4">
                        <div class="collapse" id="sample_event_fiducial1">
                            <div class="card card-body">
                                <div class="form-check">
                                    <label class="form-check-label" for="sample_event_fid1_validity">Validity</label>
                                    <input type="checkbox" class="form-check-input" id="sample_event_fid1_validity"
                                        name="sample_event_fid1_validity">
                                </div>
                                <div class="form-group">
                                    <label class="label-text" for="sample_event_fid1_FiducialPositionSelect">Position of
                                        the Fiducial
                                        Point</label>
                                    <select class="form-control" id="sample_event_fid1_FiducialPositionSelect"
                                        name="sample_event_fid1_position_name">
                                        <option selected>Choose...</option>
                                        <option>top-left</option>
                                        <option>top-right</option>
                                        <option>bottom-left</option>
                                        <option>bottom-right</option>
                                        <option>top-center</option>
                                        <option>bottom-center</option>
                                        <option>left-center</option>
                                        <option>right-center</option>
                                        <option>center</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the X Position of the Fiducial Point (in mm)</label>
                                    <input type="number" name="sample_event_fid1_x_position" class="form-control"
                                        placeholder="values between 0 and 800 are accepted" min="0" max="800">
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the Y Position of the Fiducial Point (in mm)</label>
                                    <input type="number" name="sample_event_fid1_y_position" class="form-control"
                                        placeholder="values between 0 and 800 are accepted" min="0" max="800">
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the Z Position of the Fiducial Point (in mm)</label>
                                    <input type="number" name="sample_event_fid1_z_position" class="form-control"
                                        placeholder="values between 0 and 800 are accepted" min="0" max="800">
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the Date</label>
                                    <input class="form-control" type="date" id="sample_event_fid1_experiment_date"
                                        name="sample_event_fid1_experiment_date" min="2012-01-01" max="2040-12-31">
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the Time</label>
                                    <input class="form-control" type="time" id="sample_event_fid1_experiment_time"
                                        name="sample_event_fid1_experiment_time">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="collapse" id="sample_event_fiducial2">
                            <div class="card card-body">
                                <div class="form-check">
                                    <label class="form-check-label" for="sample_event_fid2_validity">Validity</label>
                                    <input type="checkbox" class="form-check-input" id="sample_event_fid2_validity"
                                        name="sample_event_fid2_validity">
                                </div>
                                <div class="form-group">
                                    <label class="label-text" for="sample_event_fid2_FiducialPositionSelect">Position of
                                        the Fiducial
                                        Point</label>
                                    <select class="form-control" id="sample_event_fid2_FiducialPositionSelect"
                                        name="sample_event_fid2_position_name">
                                        <option selected>Choose...</option>
                                        <option>top-left</option>
                                        <option>top-right</option>
                                        <option>bottom-left</option>
                                        <option>bottom-right</option>
                                        <option>top-center</option>
                                        <option>bottom-center</option>
                                        <option>left-center</option>
                                        <option>right-center</option>
                                        <option>center</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the X Position of the Fiducial Point (in mm)</label>
                                    <input type="number" name="sample_event_fid2_x_position" class="form-control"
                                        placeholder="values between 0 and 800 are accepted" min="0" max="800">
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the Y Position of the Fiducial Point (in mm)</label>
                                    <input type="number" name="sample_event_fid2_y_position" class="form-control"
                                        placeholder="values between 0 and 800 are accepted" min="0" max="800">
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the Z Position of the Fiducial Point (in mm)</label>
                                    <input type="number" name="sample_event_fid2_z_position" class="form-control"
                                        placeholder="values between 0 and 800 are accepted" min="0" max="800">
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the Date</label>
                                    <input class="form-control" type="date" id="sample_event_fid2_experiment_date"
                                        name="sample_event_fid2_experiment_date" min="2012-01-01" max="2040-12-31">
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the Time</label>
                                    <input class="form-control" type="time" id="sample_event_fid2_experiment_time"
                                        name="sample_event_fid1_experiment_time">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="collapse" id="sample_event_fiducial3">
                            <div class="card card-body">
                                <div class="form-check">
                                    <label class="form-check-label" for="sample_event_fid3_validity">Validity</label>
                                    <input type="checkbox" class="form-check-input" id="sample_event_fid3_validity"
                                        name="sample_event_fid3_validity">
                                </div>
                                <div class="form-group">
                                    <label class="label-text" for="sample_event_fid3_FiducialPositionSelect">Position of
                                        the Fiducial
                                        Point</label>
                                    <select class="form-control" id="sample_event_fid3_FiducialPositionSelect"
                                        name="sample_event_fid3_position_name">
                                        <option selected>Choose...</option>
                                        <option>top-left</option>
                                        <option>top-right</option>
                                        <option>bottom-left</option>
                                        <option>bottom-right</option>
                                        <option>top-center</option>
                                        <option>bottom-center</option>
                                        <option>left-center</option>
                                        <option>right-center</option>
                                        <option>center</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the X Position of the Fiducial Point (in mm)</label>
                                    <input type="number" name="sample_event_fid3_x_position" class="form-control"
                                        placeholder="values between 0 and 800 are accepted" min="0" max="800">
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the Y Position of the Fiducial Point (in mm)</label>
                                    <input type="number" name="sample_event_fid3_y_position" class="form-control"
                                        placeholder="values between 0 and 800 are accepted" min="0" max="800">
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the Z Position of the Fiducial Point (in mm)</label>
                                    <input type="number" name="sample_event_fid3_z_position" class="form-control"
                                        placeholder="values between 0 and 800 are accepted" min="0" max="800">
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the Date</label>
                                    <input class="form-control" type="date" id="sample_event_fid3_experiment_date"
                                        name="sample_event_fid3_experiment_date" min="2012-01-01" max="2040-12-31">
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the Time</label>
                                    <input class="form-control" type="time" id="sample_event_fid3_experiment_time"
                                        name="sample_event_fid3_experiment_time">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-secondary" type="submit" form="enterTargetData">Enter the Target
                    Information</button>
            </form>
        </div>
    </div>
<%- include("footer") -%>