<%- include("header") -%>
    <div class="row">
        <div class="col-lg-12">
            <form id="enterOverviewImage" method="POST" action='/submitFiducialsInfoManually'>
            <!-- <form id="addFiducial" method="POST" action='/submitSubframeInfoManually'></form> -->
                <br>
                <br>
                <p class="lead_text">Enter Fiducial Points Information</p>
                    <p class="label-text" style="text-align: center;"><em>Information for Fiducial 1 </em>
                    </p>
                    <div class="form-check">
                        <label class="form-check-label" for="fid1_validity">Validity</label>
                        <input type="checkbox" class="form-check-input" id="fid1_validity" name="fid1_validity">
                    </div>
                    <div class="form-group">
                        <label class="label-text" for="fid1_FiducialPoistionSelect">Position of the Fiducial Point</label>
                        <select class="form-control" id="fid1_FiducialPoistionSelect" name="fid1_position_name">
                            <option selected>Choose...</option>
                            <option>top-left</option>
                            <option>top-right</option>
                            <option>bottom-left</option>
                            <option>bottom-right</option>
                            <option>top-center</option>
                            <option>bottom-center</option>
                            <option>left-center</option>
                            <option>right-center</option>
                            <option>center</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="label-text">Enter the X Position of the Fiducial Point (in mm) <strong>(Double Values
                                Accepted)</strong></label>
                        <input type="number" name="fid1_x_position" class="form-control"
                            placeholder="X Position of the Fiducial Point" min="1" max="800">
                    </div>
                    <div class="form-group">
                        <label class="label-text">Enter the Y Position of the Fiducial Point (in mm) <strong>(Double Values
                                Accepted)</strong></label>
                        <input type="number" name="fid1_y_position" class="form-control"
                            placeholder="Y Position of the Fiducial Point" min="1" max="800">
                    </div>
                    <div class="form-group">
                        <label class="label-text">Enter the Z Position of the Fiducial Point (in mm) <strong>(Double Values
                                Accepted)</strong></label>
                        <input type="number" name="fid1_z_position" class="form-control"
                            placeholder="Z Position of the Fiducial Point" min="1" max="800">
                    </div>
                
                    <br>
                    <br>
                    <p class="lead_text">Enter Fiducial Points Information</p>
                        <p class="label-text" style="text-align: center;"><em>Information for Fiducial 2 </em>
                        </p>
                        <div class="form-check">
                            <label class="form-check-label" for="fid2_validity">Validity</label>
                            <input type="checkbox" class="form-check-input" id="fid2_validity" name="fid2_validity">
                        </div>
                        <div class="form-group">
                            <label class="label-text" for="fid2_FiducialPoistionSelect">Position of the Fiducial Point</label>
                            <select class="form-control" id="fid2_FiducialPoistionSelect" name="fid2_position_name">
                                <option selected>Choose...</option>
                                <option>top-left</option>
                                <option>top-right</option>
                                <option>bottom-left</option>
                                <option>bottom-right</option>
                                <option>top-center</option>
                                <option>bottom-center</option>
                                <option>left-center</option>
                                <option>right-center</option>
                                <option>center</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="label-text">Enter the X Position of the Fiducial Point (in mm) <strong>(Double Values
                                    Accepted)</strong></label>
                            <input type="number" name="fid2_x_position" class="form-control"
                                placeholder="X Position of the Fiducial Point" min="1" max="800">
                        </div>
                        <div class="form-group">
                            <label class="label-text">Enter the Y Position of the Fiducial Point (in mm) <strong>(Double Values
                                    Accepted)</strong></label>
                            <input type="number" name="fid2_y_position" class="form-control"
                                placeholder="Y Position of the Fiducial Point" min="1" max="800">
                        </div>
                        <div class="form-group">
                            <label class="label-text">Enter the Z Position of the Fiducial Point (in mm) <strong>(Double Values
                                    Accepted)</strong></label>
                            <input type="number" name="fid2_z_position" class="form-control"
                                placeholder="Z Position of the Fiducial Point" min="1" max="800">
                        </div>

                <br>
                <br>
                <p class="lead_text">Enter Fiducial Points Information</p>
                    <p class="label-text" style="text-align: center;"><em>Information for Fiducial 3 </em>
                    </p>
                    <div class="form-check">
                        <label class="form-check-label" for="fid3_validity">Validity</label>
                        <input type="checkbox" class="form-check-input" id="fid3_validity" name="fid3_validity">
                    </div>
                    <div class="form-group">
                        <label class="label-text" for="fid3_FiducialPoistionSelect">Position of the Fiducial Point</label>
                        <select class="form-control" id="fid3_FiducialPoistionSelect" name="fid3_position_name">
                            <option selected>Choose...</option>
                            <option>top-left</option>
                            <option>top-right</option>
                            <option>bottom-left</option>
                            <option>bottom-right</option>
                            <option>top-center</option>
                            <option>bottom-center</option>
                            <option>left-center</option>
                            <option>right-center</option>
                            <option>center</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="label-text">Enter the X Position of the Fiducial Point (in mm) <strong>(Double Values
                                Accepted)</strong></label>
                        <input type="number" name="fid3_x_position" class="form-control"
                            placeholder="X Position of the Fiducial Point" min="1" max="800">
                    </div>
                    <div class="form-group">
                        <label class="label-text">Enter the Y Position of the Fiducial Point (in mm) <strong>(Double Values
                                Accepted)</strong></label>
                        <input type="number" name="fid3_y_position" class="form-control"
                            placeholder="Y Position of the Fiducial Point" min="1" max="800">
                    </div>
                    <div class="form-group">
                        <label class="label-text">Enter the Z Position of the Fiducial Point (in mm) <strong>(Double Values
                                Accepted)</strong></label>
                        <input type="number" name="fid3_z_position" class="form-control"
                            placeholder="Z Position of the Fiducial Point" min="1" max="800">
                    </div>

                <br>
                <br>
                <p class="lead_text">Enter Fiducial Points Information</p>
                    <p class="label-text" style="text-align: center;"><em>Information for Fiducial 4 </em>
                    </p>
                    <div class="form-check">
                        <label class="form-check-label" for="fid4_validity">Validity</label>
                        <input type="checkbox" class="form-check-input" id="fid4_validity" name="fid4_validity">
                    </div>
                    <div class="form-group">
                        <label class="label-text" for="fid4_FiducialPoistionSelect">Position of the Fiducial Point</label>
                        <select class="form-control" id="fid4_FiducialPoistionSelect" name="fid4_position_name">
                            <option selected>Choose...</option>
                            <option>top-left</option>
                            <option>top-right</option>
                            <option>bottom-left</option>
                            <option>bottom-right</option>
                            <option>top-center</option>
                            <option>bottom-center</option>
                            <option>left-center</option>
                            <option>right-center</option>
                            <option>center</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="label-text">Enter the X Position of the Fiducial Point (in mm) <strong>(Double Values
                                Accepted)</strong></label>
                        <input type="number" name="fid4_x_position" class="form-control"
                            placeholder="X Position of the Fiducial Point" min="1" max="800">
                    </div>
                    <div class="form-group">
                        <label class="label-text">Enter the Y Position of the Fiducial Point (in mm) <strong>(Double Values
                                Accepted)</strong></label>
                        <input type="number" name="fid4_y_position" class="form-control"
                            placeholder="Y Position of the Fiducial Point" min="1" max="800">
                    </div>
                    <div class="form-group">
                        <label class="label-text">Enter the Z Position of the Fiducial Point (in mm) <strong>(Double Values
                                Accepted)</strong></label>
                        <input type="number" name="fid4_z_position" class="form-control"
                            placeholder="Z Position of the Fiducial Point" min="1" max="800">
                    </div>

                <br>
                <button class="btn btn-secondary" type="submit" form="enterOverviewImage">Enter the Overview Image Data</button>
            </form>
        </div>
    </div>
<%- include("footer") -%>