<%- include("header") -%>
    <div class="row">
        <div class="col-lg-12">
            <form method="POST" action='/submitOverviewImageManually'>
                <br>
                <br>
                <p class="lead_text">Enter Overview Image Information </p>
                <div class="form-check">
                    <label class="form-check-label" for="overview_image_validity">Validity</label>
                    <input type="checkbox" class="form-check-input" id="overview_image_validity" name="overview_image_validity">
                </div>
                <div class="form-group">
                    <label class="label-text" for="microscopeDateSelect">Microscope Type</label>
                    <select class="form-control" id="microscopeDateSelect" name="microscope_data">
                        <option selected>Choose...</option>
                        <option>Keyence</option>
                        <option>Nanofocus</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="label-text" for="detectionMethodSelect">Detection (Imaging) Method</label>
                    <select class="form-control" id="detectionMethodSelect" name="detection_method">
                        <option selected>Choose...</option>
                        <option>Hough Circle Transform</option>
                        <option>Mask R-CNN</option>
                    </select>
                </div>
                <div>
                    <label for="overviewImageLoad" class="form-label label-text">Insert the Overview Image</label>
                    <input class="form-control" type="file" id="overviewImageLoad" name="overview_image_load">
                </div>
                <div class="form-group">
                    <label class="label-text">Enter the Date the Experiment of the Overview Image is Done</strong></label>
                    <input class="form-control" type="date" id="overviewimage_experiment_date" name="overviewimage_experiment_date" min="2012-01-01" max="2040-12-31">
                </div>
                <div class="form-group">
                    <label class="label-text">Enter the Time the Experiment of the Overview Image is Done</strong></label>
                    <input class="form-control" type="time" id="overviewimage_experiment_time" name="overviewimage_experiment_time">
                </div>
                <!-- <form class="item" action="/submitFiducialsInfoManually" method="post">
                    <button class="btn btn-secondary" type="submit" name="list">Add Overveiw Image +</button>    
                </form> -->
                <br>
                <button class="btn btn-secondary">Enter the ROI Image</button>
            </form>
        </div>
    </div>
<%- include("footer") -%>