<%- include("header") -%>
    <div class="row">
        <div class="col-lg-12">
            <form id="enterTargetData" method="POST" action='/submitSampleImageManually'>
                <br>
                <br>
                <p class="lead_text">Enter Sample Information</p>
                <!--<div class="form-check">
                <label class="form-check-label" for="sample_image_validity">Validity</label>
                <input type="checkbox" class="form-check-input" id="sample_image_validity" name="sample_image_validity">
            </div>
            <div class="form-group">
                <label class="label-text">Enter Pixel Size X (Width)</label>
                <input type="number" name="pixel_size_x" class="form-control" placeholder="Pixel Width (values between 0 and 10 are accepted)" min="0" max="10">
            </div>
            <div class="form-group">
                <label class="label-text">Enter Pixel Size Y (Height)</label>
                <input type="number" name="pixel_size_y" class="form-control" placeholder="Pixel Height (values between 0 and 10 are accepted)" min="0"
                    max="10">
            </div>-->
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Bounding Box X Position <em>(Top-Left Corner
                                    Position)</em></label>
                            <input type="number" name="BB_x_position" class="form-control"
                                placeholder="Bounding Box X Position (values between 0 and 800 are accepted)" min="0"
                                max="800">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Bounding Box Y Position <em>(Top-Left Corner
                                    Position)</em></label>
                            <input type="number" name="BB_y_position" class="form-control"
                                placeholder="Bounding Box Y Position (values between 0 and 800 are accepted)" min="0"
                                max="800">
                        </div>
                    </div>
                </div>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Bounding Box Width</label>
                            <input type="number" name="BB_width" class="form-control"
                                placeholder="Bounding Box Width (values between 0 and 800 are accepted)" min="0"
                                max="800">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Bounding Box Height</label>
                            <input type="number" name="BB_height" class="form-control"
                                placeholder="Bounding Box Height (values between 0 and 800 are accepted)" min="0"
                                max="800">
                        </div>
                    </div>
                </div>
                <div class="row twopanel">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="label-text">Theta Angle (angle with respect to XY coordinates)</label>
                            <input type="number" name="theta_angle" class="form-control"
                                placeholder="Theta Angle (values between -180 and +180 are accepted)" min="-180"
                                max="180">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="label-text">Phi Angle (angle with respect to XZ coordinates)</label>
                            <input type="number" name="phi_angle" class="form-control"
                                placeholder="Phi Angle (values between -180 and +180 are accepted)" min="-180"
                                max="180">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="label-text">Rho Angle (angle with respect to YZ coordinates)</label>
                            <input type="number" name="rho_angle" class="form-control"
                                placeholder="Rho Angle (values between -180 and +180 are accepted)" min="-180"
                                max="180">
                        </div>
                    </div>
                </div>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text" for="ROIdetectionMethodSelect">Select the Detection Method</label>
                            <select class="form-control" id="ROIdetectionMethodSelect" name="detection_method">
                                <option selected>Choose...</option>
                                <option>Circle Detection</option>
                                <option>Rectangle Detection</option>
                                <option>Mask R-CNN</option>
                                <option>New...</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <label for="MaskImageLoad" class="form-label label-text">Insert the Mask Image</label>
                            <input class="form-control" type="file" id="MaskImageLoad" name="mask_image_load">
                        </div>
                    </div>
                </div>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Date the Sample Image is Created</strong></label>
                            <input class="form-control" type="date" id="sampleimage_experiment_date"
                                name="sampleimage_experiment_date" min="2012-01-01" max="2040-12-31">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Time the Sample Image is Created</strong></label>
                            <input class="form-control" type="time" id="sampleimage_experiment_time"
                                name="sampleimage_experiment_time">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sampleComments">Enter Comments Related to the Sample</label>
                    <textarea class="form-control" id="SampleComments" name="sample_comments"
                        placeholder="Comments (at most 200 of characters are accepted)" rows="2" minlength="0"
                        maxlength="200"></textarea>
                </div>
                <hr />
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text" for="microscopeDateSelect">Select the Device</label>
                            <select class="form-control" id="microscopeDateSelect" name="microscope_data">
                                <option selected>Choose...</option>
                                <option>Keyence</option>
                                <option>Nanofocus</option>
                                <option>Quanta</option>
                                <option>Zeiss</option>
                                <option>New...</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text" for="microscopeDateSelect">Select the Event Type</label>
                            <select class="form-control" id="microscopeDateSelect" name="microscope_data">
                                <option selected>Choose...</option>
                                <option>XRay Measurement</option>
                                <option>XFEL Instrument Measurement</option>
                                <option>Imaging</option>
                                <option>High Resolution Imaging</option>
                                <option>Overview Imaging</option>
                                <option>Mounted</option>
                                <option>Unmounted</option>
                                <option>Mounted Somewhere Else</option>
                                <option>Shot</option>
                                <option>Broken</option>
                                <option>Archived</option>
                                <option>Destroyed</option>
                                <option>New...</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div>
                            <label for="ROIverviewImageLoad" class="form-label label-text">Insert the Link to the
                                Data</label>
                            <input class="form-control" type="file" id="ROIoverviewImageLoad"
                                name="roi_overviewimage_load">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <label for="ROIverviewImageLoad" class="form-label label-text">Insert the Link to the Meta
                                Data</label>
                            <input class="form-control" type="file" id="ROIoverviewImageLoad"
                                name="roi_overviewimage_load">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="roi_experiment_comments">Comments Related to the ROI Image</label>
                    <textarea class="form-control" id="roi_experiment_comments" name="roi_experiment_comments"
                        placeholder="Comments (at most 200 of characters are accepted)" rows="2" minlength="0"
                        maxlength="200"></textarea>
                </div>
                <hr>
                <p class="lead_text">Enter the Fiducial Points Information</p>
                <div class="row twopanel">
                    <div class="col-lg-4">
                        <p>
                            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#fiducial1" aria-expanded="false" aria-controls="fiducial1">
                                Fiducial 1 Information
                            </button>
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <p>
                            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#fiducial2" aria-expanded="false" aria-controls="fiducial2">
                                Fiducial 2 Information
                            </button>
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <p>
                            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#fiducial3" aria-expanded="false" aria-controls="fiducial3">
                                Fiducial 3 Information
                            </button>
                        </p>
                    </div>
                </div>
                <div class="row twopanel">
                    <div class="col-lg-4">
                        <div class="collapse" id="fiducial1">
                            <div class="card card-body">
                                <div class="form-check">
                                    <label class="form-check-label" for="fid1_validity">Validity</label>
                                    <input type="checkbox" class="form-check-input" id="fid1_validity"
                                        name="fid1_validity">
                                </div>
                                <div class="form-group">
                                    <label class="label-text" for="fid1_FiducialPoistionSelect">Position of the Fiducial
                                        Point</label>
                                    <select class="form-control" id="fid1_FiducialPoistionSelect"
                                        name="fid1_position_name">
                                        <option selected>Choose...</option>
                                        <option>top-left</option>
                                        <option>top-right</option>
                                        <option>bottom-left</option>
                                        <option>bottom-right</option>
                                        <option>top-center</option>
                                        <option>bottom-center</option>
                                        <option>left-center</option>
                                        <option>right-center</option>
                                        <option>center</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the X Position of the Fiducial Point (in mm)</label>
                                    <input type="number" name="fid1_x_position" class="form-control"
                                        placeholder="values between 0 and 800 are accepted" min="0" max="800">
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the Y Position of the Fiducial Point (in mm)</label>
                                    <input type="number" name="fid1_y_position" class="form-control"
                                        placeholder="values between 0 and 800 are accepted" min="0" max="800">
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the Z Position of the Fiducial Point (in mm)</label>
                                    <input type="number" name="fid1_z_position" class="form-control"
                                        placeholder="values between 0 and 800 are accepted" min="0" max="800">
                                </div>

                                <div class="form-group">
                                    <label class="label-text">Enter the Date of the Subframe Event</strong></label>
                                    <input class="form-control" type="date" id="subframe_event_experiment_date"
                                        name="subframe_event_experiment_date" min="2012-01-01" max="2040-12-31">
                                </div>

                                <div class="form-group">
                                    <label class="label-text">Enter the Time of the Subframe Event</strong></label>
                                    <input class="form-control" type="time" id="subframe_event_experiment_time"
                                        name="subframe_event_experiment_time">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="collapse" id="fiducial2">
                            <div class="card card-body">
                                <div class="form-check">
                                    <label class="form-check-label" for="fid1_validity">Validity</label>
                                    <input type="checkbox" class="form-check-input" id="fid1_validity"
                                        name="fid1_validity">
                                </div>
                                <div class="form-group">
                                    <label class="label-text" for="fid1_FiducialPoistionSelect">Position of the Fiducial
                                        Point</label>
                                    <select class="form-control" id="fid1_FiducialPoistionSelect"
                                        name="fid1_position_name">
                                        <option selected>Choose...</option>
                                        <option>top-left</option>
                                        <option>top-right</option>
                                        <option>bottom-left</option>
                                        <option>bottom-right</option>
                                        <option>top-center</option>
                                        <option>bottom-center</option>
                                        <option>left-center</option>
                                        <option>right-center</option>
                                        <option>center</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the X Position of the Fiducial Point (in mm)</label>
                                    <input type="number" name="fid1_x_position" class="form-control"
                                        placeholder="values between 0 and 800 are accepted" min="0" max="800">
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the Y Position of the Fiducial Point (in mm)</label>
                                    <input type="number" name="fid1_y_position" class="form-control"
                                        placeholder="values between 0 and 800 are accepted" min="0" max="800">
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the Z Position of the Fiducial Point (in mm)</label>
                                    <input type="number" name="fid1_z_position" class="form-control"
                                        placeholder="values between 0 and 800 are accepted" min="0" max="800">
                                </div>

                                <div class="form-group">
                                    <label class="label-text">Enter the Date of the Subframe Event</strong></label>
                                    <input class="form-control" type="date" id="subframe_event_experiment_date"
                                        name="subframe_event_experiment_date" min="2012-01-01" max="2040-12-31">
                                </div>

                                <div class="form-group">
                                    <label class="label-text">Enter the Time of the Subframe Event</strong></label>
                                    <input class="form-control" type="time" id="subframe_event_experiment_time"
                                        name="subframe_event_experiment_time">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="collapse" id="fiducial3">
                            <div class="card card-body">
                                <div class="form-check">
                                    <label class="form-check-label" for="fid1_validity">Validity</label>
                                    <input type="checkbox" class="form-check-input" id="fid1_validity"
                                        name="fid1_validity">
                                </div>
                                <div class="form-group">
                                    <label class="label-text" for="fid1_FiducialPoistionSelect">Position of the Fiducial
                                        Point</label>
                                    <select class="form-control" id="fid1_FiducialPoistionSelect"
                                        name="fid1_position_name">
                                        <option selected>Choose...</option>
                                        <option>top-left</option>
                                        <option>top-right</option>
                                        <option>bottom-left</option>
                                        <option>bottom-right</option>
                                        <option>top-center</option>
                                        <option>bottom-center</option>
                                        <option>left-center</option>
                                        <option>right-center</option>
                                        <option>center</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the X Position of the Fiducial Point (in mm)</label>
                                    <input type="number" name="fid1_x_position" class="form-control"
                                        placeholder="values between 0 and 800 are accepted" min="0" max="800">
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the Y Position of the Fiducial Point (in mm)</label>
                                    <input type="number" name="fid1_y_position" class="form-control"
                                        placeholder="values between 0 and 800 are accepted" min="0" max="800">
                                </div>
                                <div class="form-group">
                                    <label class="label-text">Enter the Z Position of the Fiducial Point (in mm)</label>
                                    <input type="number" name="fid1_z_position" class="form-control"
                                        placeholder="values between 0 and 800 are accepted" min="0" max="800">
                                </div>

                                <div class="form-group">
                                    <label class="label-text">Enter the Date of the Subframe Event</strong></label>
                                    <input class="form-control" type="date" id="subframe_event_experiment_date"
                                        name="subframe_event_experiment_date" min="2012-01-01" max="2040-12-31">
                                </div>

                                <div class="form-group">
                                    <label class="label-text">Enter the Time of the Subframe Event</strong></label>
                                    <input class="form-control" type="time" id="subframe_event_experiment_time"
                                        name="subframe_event_experiment_time">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Date the Experiment of the ROI Image is
                                Done</strong></label>
                            <input class="form-control" type="date" id="roi_experiment_date" name="roi_experiment_date"
                                min="2012-01-01" max="2040-12-31">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Time the Experiment of the ROI Image is
                                Done</strong></label>
                            <input class="form-control" type="time" id="roi_experiment_time" name="roi_experiment_time">
                        </div>
                    </div>
                </div>


                <!-- SampleImage Related Data -->
                <!--
            <p class="lead_text">Enter Sample Image Information</p>
            <div class="form-check">
                <label class="form-check-label" for="sampleinfo_validity">Validity</label>
                <input type="checkbox" class="form-check-input" id="sampleinfo_validity" name="sample_info_validity">
            </div>
            <div class="form-group">
                <label class="label-text" for="SAMPLEmicroscopeDateSelect">Microscope Type</label>
                <select class="form-control" id="SAMPLEmicroscopeDateSelect" name="sample_microscope_data">
                    <option selected>Choose...</option>
                    <option>Keyence</option>
                    <option>Nanofocus</option>
                </select>
            </div>
            <div class="form-group">
                <label class="label-text" for="SAMPLEdetectionMethodSelect">Detection (Imaging)
                    Method</label>
                <select class="form-control" id="SAMPLEdetectionMethodSelect" name="sample_detection_method">
                    <option selected>Choose...</option>
                    <option>Hough Circle Transform</option>
                    <option>Mask R-CNN</option>
                </select>
            </div>
            <div>
                <label for="ROImageLoad" class="form-label label-text">Insert the ROI Image</label>
                <input class="form-control" type="file" id="ROIImageLoad" name="roi_image_load">
            </div>
            <div class="form-group">
                <label class="label-text" for="imagetype">Image Type</label>
                <select class="form-control" id="imagetype" name="image_type">
                    <option selected>Choose...</option>
                    <option>PNG</option>
                    <option>JPG</option>
                    <option>JPEG</option>
                    <option>TIFF</option>
                </select>
            </div>
            <div class="form-group">
                <label class="label-text">Image Width</label>
                <input type="number" name="image_width" class="form-control" placeholder="Image Width (values between 0 and 4000 are accepted)" min="0" max="4000">
            </div>
            <div class="form-group">
                <label class="label-text">Image Height</label>
                <input type="number" name="image_height" class="form-control" placeholder="Image Height (values between 0 and 4000 are accepted)" min="0"
                    max="4000">
            </div>
            <div class="form-group">
                <label class="label-text">Image Size (in MB)</label>
                <input type="number" name="image_size" class="form-control" placeholder="Image Size (values between 0 and 1000000 are accepted)" min="0" max="1000000">
            </div>
            <div class="form-group">
                <label for="ImageComments">Enter Comments Related to the Image</label>
                <textarea class="form-control" id="ImageComments" name="image_comments" placeholder="Comments (at most 200 of characters are accepted)" rows="2" minlength="0" maxlength="200"></textarea>
            </div>
            <div>
                <label for="ImageLoad" class="form-label label-text">Insert the Image</label>
                <input class="form-control" type="file" id="ImageLoad" name="image_load">
            </div>
            <div class="form-group">
                <label class="label-text">Enter the Date the Sample Information is Inserted</strong></label>
                <input class="form-control" type="date" id="sampleinfo_experiment_date" name="sampleinfo_experiment_date"
                    min="2012-01-01" max="2040-12-31">
            </div>
            <div class="form-group">
                <label class="label-text">Enter the Time the Sample Information is Inserted</strong></label>
                <input class="form-control" type="time" id="sampleinfo_experiment_time" name="sampleinfo_experiment_time">
            </div>
        -->
                <button class="btn btn-secondary" type="submit" form="enterTargetData">Enter the Target
                    Information</button>
            </form>
        </div>
    </div>
    <%- include("footer") -%>