
hr {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 5px solid rgba(0, 0, 0, 0.1);
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.container-fluid {
  padding: 2% 0%;
}

.container-fluid.button {
  padding: 0% 20% 10% 45%;
}

.site_msg {
  font-family: "Montserrat Extra-light 200";
  font-size: 1.4rem;
  line-height: 1.0rem;
  margin: 100 0 50 0;
}

.site_dev {
  font-family: "Montserrat Extra-light 100";
  font-size: 1.2rem;
  line-height: 1.0rem;
  margin: 0 0 50 0;
}

.lead_text_fiducial {
  margin: 20 10 0 0;
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
}

p {
  margin: 10 0;
  font-size: 1rem;
}

p.tablename {
  margin: 10 0;
  font-size: 1.5rem;
}

a.title {
  font-family: "Montserrat Extra-light 200";
  font-size: 1.8rem;
  margin-left: 32%;
}

a {
  font-family: "Montserrat Extra-light 200";
  font-size: 1.5rem;
}

button {
  margin: 2% 0%;
}

.nav-link {
  font-family: "Montserrat Extra-light 200";
  font-size: 1.0rem;
}

.nav-item.dropdown {
  margin: 0% 0% 10% 0%;
}

.card-header {
  font-family: "Montserrat Extra-light 100";
  text-align: center;
  font-size: 1.5rem;
}

.box {
  max-width: 800px;
  margin: 50px auto;
  /*background: white;*/
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  /*background-color: #A683E3;*/
  font-size: 2rem;
  text-align: center;
}

.col-lg-6.table_header {
  text-align: center;
  font-family: "Montserrat Extra-light 100";
}

.row {
  padding: 0% 15%;
}

.row .twopanel {
  padding: 0% 0%;
}

.row.table_header {
  padding: 0% 0%;
  font-family: "Montserrat Extra-light 100";
}

.row.title {
  text-align: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(163, 154, 154, 0.8);
}

input[type=text]:focus {
  outline: none;
}

button:hover{
  opacity: 1;
}

.targeter_image {
  width: 60px;
  height: 60px;
  margin-left: 30%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.label-text {
  font-family: "Montserrat Extra-light 100";
  font-size: 1.2rem;
}

.btn.btn-secondary {
  font-family: "Montserrat-Bold";
  font-size: 1.0rem;
}

.btn.btn-success {
  font-family: "Montserrat-Bold";
  font-size: 1.0rem;
}

.btn.btn-success {
  font-family: "Montserrat-Bold";
  font-size: 1.0rem;
}

.btn.btn-secondary.add {
  font-family: "Montserrat Extra-light 100";
  font-size: 1.0rem;
  margin: 0% 5%;
}

.btn.btn-success.add {
  font-family: "Montserrat Extra-light 100";
  font-size: 1.0rem;
  margin: 0% 5%;
}

.lead_text {
  margin: 40 0 0 0;
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
  text-align: center;
}

th, td {
  font-family: "Montserrat-Bold";
  font-size: 1.0rem;
}
