<%- include("header") -%>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <form method="GET" action='/createSubframe'>
                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="label-text" id="create_subframe">
                                Do you want to create a "SubframeID" for
                                physical subframe creation?
                            </label>
                            <br>
                            <button class="btn btn-secondary">
                                Create Subframe
                            </button>
                        </div>
                    </div>                   
                </div>
            </form>
        </div>
        <div class="col-lg-12">
            <form method="GET" action='/viewDataBaseTables'>
                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="label-text" id="view_db_tables">
                                Do you want to view tables and their entries?
                            </label>
                            <br>
                            <button class="btn btn-secondary">
                                View Tables
                            </button>
                        </div>
                    </div>                   
                </div>
            </form>
        </div>
        <div class="col-lg-12">
            <form method="POST" action='/database_query'>
                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="label-text" id="database_query">
                                Do you want to query from the database?
                            </label>
                            <br>
                            <button class="btn btn-secondary">
                                Query the Database
                            </button>
                        </div>
                    </div>                   
                </div>
            </form>
        </div>
        <div class="col-lg-12">
            <form method="GET" action='/submitDataManually'>
                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="label-text" id="manual_insert">
                                Do you want to insert the data manually?
                            </label>
                            <br>
                            <button class="btn btn-secondary">
                                Insert the Data Manually
                            </button>
                        </div>
                    </div>                   
                </div>
            </form>
        </div>
        <div class="col-lg-12">
            <form method="POST" action='/submitXMLFile'>
                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="label-text" id="xml_insert"
                            for="xmlFileLoad">
                                Do you want to insert the data via XML file? 
                            </label>
                            <br>
                            <input type="file" class="form-control"
                                id="xmlFileLoad"
                                name="xmlFile">
                            <button class="btn btn-secondary">
                                Load the Data from XML File
                            </button>
                        </div>
                    </div>                   
                </div>
            </form>
        </div>
        <div class="col-lg-12">
            <form>
                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="label-text">
                                Edit Tables of the Database:
                            </label>
                            <br>
                            <a class="btn btn-secondary" href="/register" role="button">
                                Register
                            </a>
                            <a class="btn btn-secondary" href="/login" role="button">
                                Login
                            </a>
                        </div>
                    </div>                   
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("footer") -%>
