<%- include("../header") -%>

<br>
<br>

<form id="insert_subframe_information" method="POST"
action='/insertSubframeInformationManually'>

    <div class="row twopanel">        
        <div class="col-lg-12">
            <label class="label-text">
                Choose the Subframe ID
            </label>
            <select class="form-control" id="filters_subframe"
                name="filters_subframe">
                <option selected>Not Specified</option>
                <% for(var idx=0; idx < Subframe_IDs.length; idx++) { %>
                    <option>
                        <%= Subframe_IDs[idx][1] %>
                    </option>
                <% } %>
            </select>
        </div>
    </div>

    <br>

    <div class="row twopanel">
        <button class="btn btn-secondary" type="submit"
            form="insert_subframe_information">
                Enter the Subframe Information
        </button>
    </div>

</form>

<%- include("../footer") -%>
