<%- include("../header") -%>

<div class="row twopanel">
    <div class="col-lg-12">
        <h1 class="site_msg" style="text-align: center;">
        <em>Sample belongs to ROI and holds all the information for
            Target(s).</em>
        <br>
        <br>
        <div class="row">
            <img class="center" src='sample.jpg' alt="Sample Photo">
        </div>
        <br>
        <br>
            Sample for the Subframe <%= insert_subframe_information[0]['value'] %>
        </h1>
    </div>
</div>

<form action="/DEFAULT_URL" method="post">
    
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="label-text">Enter the Bounding Box X Position</label>
                <input type="number" name="sample_x_position" class="form-control"
                    placeholder="values between 0 and 800 are accepted"
                    min="0" max="800">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label class="label-text">Enter the Bounding Box Y Position</label>
                <input type="number" name="sample_y_position" class="form-control"
                    placeholder="values between 0 and 800 are accepted"
                    min="0" max="800">
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="label-text">Enter the Bounding Box Width</label>
                <input type="number" name="sample_width" class="form-control"
                    placeholder="values between 0 and 800 are accepted"
                    min="0" max="800">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label class="label-text">Enter the Bounding Box Height</label>
                <input type="number" name="sample_height" class="form-control"
                    placeholder="values between 0 and 800 are accepted"
                    min="0" max="800">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="label-text">Enter the Theta Angle (in degree)</label>
                <input type="number" name="sample_experiment_theta" class="form-control"
                    placeholder="angle w.r.t. XY plane" min="0" max="360">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="label-text">Enter the Phi Angle (in degree)</label>
                <input type="number" name="sample_experiment_phi" class="form-control"
                    placeholder="angle w.r.t. XZ plane" min="0" max="360">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class="label-text">Enter the Rho Angle (in degree)</label>
                <input type="number" name="sample_experiment_rho" class="form-control"
                    placeholder="angle w.r.t. YZ plane" min="0" max="360">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">    
            <div class="form-group">
                <label class="label-text">
                    Enter the Date of the Sample Creation (*)
                </label>
                <input class="form-control" type="date"
                id="sample_date" name="sample_date" min="2012-01-01"
                max="2040-12-31">
            </div>
        </div>
        <div class="col-lg-6">    
            <div class="form-group">
                <label class="label-text">
                    Enter the Time of Sample Creation (*)
                </label>
                <input class="form-control" type="time"
                id="sample_time" name="sample_time">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <label for="MaskDirectory" class="form-label label-text">
                Insert the Link to the Mask Image Directory
            </label>
            <input class="form-control" type="file" id="MaskDirectory"
                name="mask_directory">
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label for="SampleComments">Comments Related to the Sample Creation</label>
            <textarea class="form-control" id="SampleComments" name="SampleComments"
                placeholder="Comments (at most 200 of characters are accepted)"
                rows="2" minlength="0" maxlength="200">
            </textarea>
            <br>
        </div>
        <hr>
    </div>

    <div class="row twopanel">
        <div class="row">
            <button class="btn btn-outline-secondary" type="submit"
                formaction="/createSubframeSample"
                onclick="checkValues(event)"
                name="create_sample_for_subframe" value="2">
                    Create <em>(another)</em> Sample in the ROI
            </button>
        </div>
    </div>

    <div class="row twopanel">
        <div class="row">
            <button class="btn btn-outline-secondary" type="submit"
                formaction="/createSampleEvent"
                onclick="checkValues(event)"
                name="create_event_for_sample" value="0">
                    Create Event for the Sample
            </button>
        </div>    
    </div>

    <div class="row twopanel">
        <div class="row">
            <button class="btn btn-outline-secondary" type="submit"
                formaction="/createSubframeTarget"
                onclick="checkValues(event)"
                name="create_target_for_subframe" value="0">
                    Create Target in the Sample
            </button>
        </div>
    </div>

    <div class="row twopanel">
        <div class="row">
            <button class="btn btn-outline-secondary" type="submit"
                formaction="/submitAndReturnToMain"
                onclick="checkValues(event)"
                name="submit_the_data_to_db" value="0">
                    Submit the Data to Database <em>and Return to the Main Page</em>
            </button>
        </div>
    </div>
</form>

<form action="/" method="get">
    <div class="row twopanel">
        <div class="row">
            <button class="btn btn-outline-secondary" type="submit"
                name="cancel_and_return_to_main" value="0">
                    Cancel <em>and Return to the Main Page</em>
            </button>
        </div>
    </div>
</form>

<script>
    function checkValues() {
        let data_value = document.getElementById("sample_date").value;
        let time_value = document.getElementById("sample_time").value;
        
        if (data_value == ""){
            alert("Sample creation Date is not Inserted!");
            event.preventDefault();
            return;
        }
            
        if (time_value == ""){
            alert("Sample creation Time is not Inserted!");
            event.preventDefault();
            return;
        }
    }
</script>

<%- include("../footer") -%>