<%- include("header") -%>
    <div class="row">
        <div class="col-lg-12">
            <form id="submitTheData" method="POST" action='/submitAllData'>
                <!-- Target Related Data -->
                <p class="lead_text">Enter Target Information</p>
                <div class="row twopanel">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="label-text">X Position</label>
                            <input type="number" name="target_x_position" class="form-control"
                                placeholder="values between 0 and 800 are accepted" min="0" max="800">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="label-text">Y Position</label>
                            <input type="number" name="target_y_position" class="form-control"
                                placeholder="values between 0 and 800 are accepted" min="0" max="800">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="label-text">Z Position</label>
                            <input type="number" name="target_z_position" class="form-control"
                                placeholder="values between 0 and 800 are accepted" min="0" max="800">
                        </div>
                    </div>
                </div>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Target Experiment Date</label>
                            <input class="form-control" type="date" id="targetinfo_experiment_date"
                                name="targetinfo_experiment_date" min="2012-01-01" max="2040-12-31">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Target Experiment Time</label>
                            <input class="form-control" type="time" id="targetinfo_experiment_time"
                                name="targetinfo_experiment_time">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="targetComments">Enter Comments Related to the Target Experiment</label>
                    <textarea class="form-control" id="targetComments" name="target_comments"
                        placeholder="maximum 100 characters are accepted" rows="2" minlength="0"
                        maxlength="100"></textarea>
                </div>
                <hr />
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text" for="targetDeviceSelect">Select the Device</label>
                            <select class="form-control" id="targetDeviceSelect" name="target_device">
                                <option selected>Choose...</option>
                                <option>Keyence</option>
                                <option>Nanofocus</option>
                                <option>Quanta</option>
                                <option>Zeiss</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text" for="targetEventType">Select the Event Type</label>
                            <select class="form-control" id="targetEventType" name="target_event_type">
                                <option selected>Choose...</option>
                                <option>XRay Measurement</option>
                                <option>XFEL Instrument Measurement</option>
                                <option>Imaging</option>
                                <option>High Resolution Imaging</option>
                                <option>Overview Imaging</option>
                                <option>Mounted</option>
                                <option>Unmounted</option>
                                <option>Mounted Somewhere Else</option>
                                <option>Shot</option>
                                <option>Broken</option>
                                <option>Archived</option>
                                <option>Destroyed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div>
                            <label for="TargetLinkToData" class="form-label label-text">Insert the Link to the
                                Data</label>
                            <input class="form-control" type="file" id="TargetLinkToData" name="target_link_to_data">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <label for="TargetLinkToMetaData" class="form-label label-text">Insert the Link to the Meta
                                Data</label>
                            <input class="form-control" type="file" id="TargetLinkToMetaData"
                                name="target_link_to_meta_data">
                        </div>
                    </div>
                </div>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Target Experiment Date</label>
                            <input class="form-control" type="date" id="target_event_date"
                                name="target_event_date" min="2012-01-01" max="2040-12-31">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Target Experiment Time</label>
                            <input class="form-control" type="time" id="target_event_time"
                                name="target_event_time">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="targetEventComments">Enter Comments to the Target Experiment</label>
                    <textarea class="form-control" id="targetEventComments" name="target_event_comments"
                        placeholder="Maximum 100 of characters are accepted" rows="2" minlength="0"
                        maxlength="200"></textarea>
                </div>
               
                <button class="btn btn-secondary" type="submit" form="submitTheData">Submit the Data</button>
            </form>
        </div>
    </div>
<%- include("footer") -%>