<%- include("header") -%>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <form id="enterSampleData" method="POST" action='/submitROIImageManually'>
                <p class="lead_text">Enter the Region of Interest (ROI) Information</p>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text" for="ROITypeSelect">Select the ROI Type</label>
                            <select class="form-control" id="ROITypeSelect" name="roi_type">
                                <option selected>Choose...</option>
                                <option>Sample Piece</option>
                                <option>Manual Selection</option>
                                <option>Detection Algorithm</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text" for="ROIDetectionMethodSelect">Select the Detection Method</label>
                            <select class="form-control" id="ROIDetectionMethodSelect" name="roi_detection_method">
                                <option selected>Choose...</option>
                                <option>Circle Detection</option>
                                <option>Rectangle Detection</option>
                                <option>Mask R-CNN</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Bounding Box X Position</label>
                            <input type="number" name="roi_experiment_x_position" class="form-control"
                                placeholder="values between 0 and 800 are accepted" min="0" max="800">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Bounding Box Y Position</label>
                            <input type="number" name="roi_experiment_y_position" class="form-control"
                                placeholder="values between 0 and 800 are accepted" min="0" max="800">
                        </div>
                    </div>
                </div>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Bounding Box Width</label>
                            <input type="number" name="roi_experiment_width" class="form-control"
                                placeholder="values between 0 and 800 are accepted" min="0" max="800">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Bounding Box Height</label>
                            <input type="number" name="roi_experiment_height" class="form-control"
                                placeholder="values between 0 and 800 are accepted" min="0" max="800">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ROIMaskLoad" class="form-label label-text">Insert the Mask Image</label>
                    <input class="form-control" type="file" id="ROIMaskLoad" name="roi_mask_load">
                </div>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Date of the ROI Experiment</label>
                            <input class="form-control" type="date" id="roi_experiment_date" name="roi_experiment_date"
                                min="2012-01-01" max="2040-12-31">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Time of the ROI Experiment</label>
                            <input class="form-control" type="time" id="roi_experiment_time" name="roi_experiment_time">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="roi_experiment_comments" class="label-text">Comments Related to the ROI
                        Experiment</label>
                    <textarea class="form-control" id="roi_experiment_comments" name="roi_experiment_comments"
                        placeholder="Maximum 100 characters are accepted" rows="2" minlength="0"
                        maxlength="200"></textarea>
                </div>
                <hr>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text" for="ROIDeviceSelect">Select the Device</label>
                            <select class="form-control" id="roi_device" name="roi_device">
                                <option selected>Choose...</option>
                                <option>Keyence</option>
                                <option>Nanofocus</option>
                                <option>Quanta</option>
                                <option>Zeiss</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text" for="ROIEventType">Select the Event Type</label>
                            <select class="form-control" id="roi_event_type" name="roi_event_type">
                                <option selected>Choose...</option>
                                <option>XRay Measurement</option>
                                <option>XFEL Instrument Measurement</option>
                                <option>Imaging</option>
                                <option>High Resolution Imaging</option>
                                <option>Overview Imaging</option>
                                <option>Mounted</option>
                                <option>Unmounted</option>
                                <option>Mounted Somewhere Else</option>
                                <option>Shot</option>
                                <option>Broken</option>
                                <option>Archived</option>
                                <option>Destroyed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div>
                            <label for="ROIEventLinkToData" class="form-label label-text">Insert the Link to the
                                Data</label>
                            <input class="form-control" type="file" id="ROIEventLinkToData"
                                name="roi_event_link_to_data">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <label for="ROIEventLinkToMetaData" class="form-label label-text">Insert the Link to the
                                Meta
                                Data</label>
                            <input class="form-control" type="file" id="ROIEventLinkToMetaData"
                                name="roi_event_link_to_meta_data">
                        </div>
                    </div>
                </div>
                <div class="row twopanel">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Date of the ROI Event</label>
                            <input class="form-control" type="date" id="roi_event_date" name="roi_event_date"
                                min="2012-01-01" max="2040-12-31">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label-text">Enter the Time of the ROI Event</label>
                            <input class="form-control" type="time" id="roi_event_time" name="roi_event_time">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="roi_experiment_comments" class="label-text">Comments Related to the ROI Event</label>
                    <textarea class="form-control" id="roi_event_comments" name="roi_event_comments"
                        placeholder="Maximum 100 of characters are accepted" rows="2" minlength="0"
                        maxlength="200"></textarea>
                </div>
                
                <button class="btn btn-secondary" type="submit" form="enterSampleData">Enter the Fiducial Points Infromation to be used by Samples</button>
            </form>
        </div>
    </div>
<%- include("footer") -%>