<%- include("../header") -%>

<div class="row twopanel">
    <div class="col-lg-12">
        <h1 class="site_msg" style="text-align: center;">
        <em>Subframe holds all the information in the hierarchy.</em>
        <br>
        <br>
        <div class="row">
            <img class="center" src='subframe.jpg' alt="Subframe Photo">
        </div>
        <br>
        <br>
            Information for the Subframe <%= insert_subframe_information['subframe_id'] %>
        </h1>
    </div>
</div>

<form action="/DEFAULT_URL" method="post">
    





</form>


<%- include("../footer") -%>